<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('router._index') }}">
            <h2>Zapata</h2>
            <h3>Bank account #: 12-504-135513</h3>
            <h3>Bank account balance: ₪ 113,027.04</h3>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('router._index') }}">Home
                        <span class="sr-only">(current)</span>
                    </a>
            </ul>
        </div>
    </div>
</nav>
